{
    "push": {
        "appId": "$PUSH_APP_ID",
        "gatewayUrl": "$PUSH_GATEWAY_URL",
        "applicationServerKey": "$PUSH_APPLICATION_SERVER_KEY"
    },
    "defaultHomeServer": "$DEFAULT_HOMESERVER",
    "bugReportEndpointUrl": "https://element.io/bugreports/submit",
    "themeManifests": [
        "assets/theme-element.json"
    ],
    "defaultTheme": {
        "light": "element-light",
        "dark": "element-dark"
    }
}
