{
    "push": {
        "appId": "$PUSH_APP_ID",
        "gatewayUrl": "$PUSH_GATEWAY_URL",
        "applicationServerKey": "$PUSH_APPLICATION_SERVER_KEY"
    },
    "defaultHomeServer": "$DEFAULT_HOMESERVER"
}
