
.LeftPanel {
    background: #333;
    color: white;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.LeftPanel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.LeftPanel li {
    margin: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.LeftPanel li {
    border-bottom: 1px #555 solid;
}

.LeftPanel li:last-child {
    border-bottom: none;
}

.LeftPanel li > * {
    margin-right: 10px;
}

.LeftPanel div.description {
    margin: 0;
    flex: 1 1 0;
    min-width: 0;
}

.LeftPanel .description > * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.LeftPanel .description .last-message {
    font-size: 0.8em;
}
