@import url('layout.css');
@import url('left-panel.css');
@import url('room.css');
@import url('timeline.css');
@import url('avatar.css');

body {
    margin: 0;
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.SyncStatusBar {
    background-color: #555;
    display: none;
}

.SyncStatusBar_shown {
    display: unset;
}

.RoomPlaceholderView {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.SessionPickerView {
  padding: 0.4em;
}

.SessionPickerView ul {
  list-style: none;
  padding: 0;
}

.SessionPickerView li {
  margin: 0.4em 0;
  font-size: 1.2em;
  background-color: grey;
  padding: 0.5em;
}

.SessionPickerView .sessionInfo {
  cursor: pointer;
  display: flex;
}

.SessionPickerView li span.userId {
  flex: 1;
}

.SessionPickerView li span.error {
  margin: 0 20px;
}

.LoginView {
  padding: 0.4em;
}

.form > div {
  margin: 0.4em 0;
}

.form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

