/*
Copyright 2025 New Vector Ltd.
Copyright 2020 Bruno Windels <bruno@windels.cloud>
Copyright 2020 The Matrix.org Foundation C.I.C.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

.form-row.text > input, .form-row.text > textarea {
  display: block;
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
}

.FilterField {
    display: flex;
}

.FilterField input {
    display: block;
    flex: 1;
    min-width: 0;
}
