/*
Copyright 2025 New Vector Ltd.
Copyright 2020 Bruno Windels <bruno@windels.cloud>

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

.LeftPanel {
    display: flex;
    flex-direction: column;
}

.LeftPanel .utilities {
    display: flex;
}

.LeftPanel .utilities .FilterField {
    flex: 1;
    min-width: 0;
}

.LeftPanel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.RoomList {
    flex: 1 0 0;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.RoomList > li > a {
    display: flex;
    align-items: center;
}

.RoomList .description {
    margin: 0;
    flex: 1 1 0;
    min-width: 0;
    display: flex;
}

.RoomList .description > .name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
}
