.RoomInfo {
    grid-area: right;
    flex-direction: column;
}

.RoomAvatar {
    display: flex;
}

.RoomName h2 {
    text-align: center;
}

.SidebarRow {
    justify-content: space-between;
}

.SidebarLabel, .SidebarRow, .RoomInfo, .RoomEncryption {
    display: flex;
    align-items: center;
}

.RoomEncryption {
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: right;
    width: 100%;
}
