.RightPanelView{
    grid-area: right;
    min-height: 0;
}

.LazyListParent {
    overflow:scroll;
    overflow-x:hidden;
    height: 100vh;
}

.RoomDetailsView {
    flex-direction: column;
    height: 100%;
}

.RoomDetailsView_avatar {
    display: flex;
}

.RoomDetailsView_name h2 {
    text-align: center;
}

.RoomDetailsView_row {
    justify-content: space-between;
}

.RoomDetailsView_label, .RoomDetailsView_row, .RoomDetailsView, .EncryptionIconView {
    display: flex;
    align-items: center;
}

.EncryptionIconView {
    justify-content: center;
}

.RoomDetailsView_buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.MemberTileView {
    display: flex;
}
