/*
Copyright 2025 New Vector Ltd.
Copyright 2020 Bruno Windels <bruno@windels.cloud>
Copyright 2020 The Matrix.org Foundation C.I.C.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

.SessionStatusView {
    display: flex;
}

.SessionStatusView p {
    margin: 0 10px;
    word-break: break-all;
    word-break: break-word;
}
